@tailwind base;
@tailwind components;
@tailwind utilities;

#m{
    background-color: green;
    color: white;
    height: fit-content;
    padding: 1%
}

#mc{
    height: fit-content;
}

*{resize: none;
    user-select: none;
}

td {
    text-align: left;
    border-bottom: 1px solid gray;
}

.tipo{
    color: goldenrod;
    font-weight: bold;
    text-align: center;
}

.ts{
    width: 50%;
    color: gold;
}

.invisivel{
    visibility: hidden !important;
}

@media screen and (orientation: portrait) {
/*     #bt button,#n{
        margin-bottom:2%;
    }
    h2{
        margin-top:2%;
    } */
    #dt{
        display: none;
    }
    #m{
        width: 100%;
    }
    #mc{
        padding: 0px;
    }
    #bt{
        bottom:2%;
    }
}
